{% extends 'base.html.twig' %}

{% block title %}Characters by Dimension{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto px-4 py-8">
        {% include 'components/search.html.twig' with {
            'searchValue': search|default(''),
            'baseUrl': '/characters/dimension',
            'showButton': true,
            'placeholder': 'Search by dimension (e.g., Dimension C-137, unknown)...'
        } %}
        
        {% include 'components/search-data.html.twig' %}
        {% if pagination.total_pages > 1 %}
            {% include 'components/pagination.html.twig' %}
        {% endif %}
    </div>
{% endblock %}